:root {
    --graient: rgba(122, 188, 201, 0.5);
    --heading-background: rgb(102, 216, 205);
    --text-color: rgb(54, 112, 128);
}

body {
    color: var(--text-color) !important;
}

a {
    color: var(--text-color) !important;
}

/* nav css */
#navbarCollapse ul {
    right: 0;
    position: absolute;
    padding: 0 1em;
}

#navbarCollapse ul li a {
    color: var(--text-color);
    text-decoration: underline;
    padding: 1em;
    background-color: rgb(40, 40, 40);
}

.text-div {
    padding: 0.5em 0;
}

.name-text {
    padding-left: 2em;
    padding-right: 1em;
    background-color: var(--heading-background);
    color: var(--text-color);
    position: relative;
    left: 0;
}

nav {
    background-color: rgb(40, 40, 40);
}

/* hero css */
.hero-banner {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    background-color: var(--heading-background);
    padding: 1em;
    color: var(--text-color);
    margin: 1em;
}

/*about me section */


.about {
    text-justify: inter-word;
    text-align: justify;
}

/* work gird */

.card {
    height: 200px;
    border: 0.4em solid var(--heading-background);
    margin: 5px;
    cursor: pointer;
    align-content: end;
    border: 0.4em solid var(--heading-background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* remove the underline from links */
.card a {
    text-decoration: none;
}

#portfolio-1 {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-1.jpg");
}

#portfolio-1:hover {
    background-image: url("../images/02-portfolio-1.jpg");
}

#portfolio-2 {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-2.jpg");
}

#portfolio-2:hover {
    background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio-3 {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-3.jpg");
}

#portfolio-3:hover {
    background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio-4 {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-4.jpg");
}

#portfolio-4:hover {
    background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio-5 {
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-run-buddy.jpg");
}

#portfolio-5:hover {
    background-image: url("../images/02-run-buddy.jpg");
}


/* skills section */
.skills-list {
    list-style-type: none;
    text-align: left;
}

/*  Contact Section styling */
#contact {
    align-items: center;
}

#contact ul {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

#contact ul li {
    text-decoration: underline;
}

/*heading styling to have it appear over the top of everything else */
.heading {
    position: relative;
    left: 0;
    top: 20px;
    padding: 15px;
    height: 100px;
    width: fit-content;
    color: white;
    background-color: var(--heading-background);
    z-index: 3;
}

h2 {
    border-right: 0.1em solid var(--text-color);
}

/* add a bit of a mragin to the contact me section */
.contact-heading {
    margin-top: 2em;
}

/* footer section */
footer a {
    text-decoration: none;
}

footer i {
    padding: 2em;
}